{% extends "base.html"%} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-5">
      <h1 class="logo-font mb-5 text-contact-us">Blogs</h1>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12">
        <div class="row mb-5">
          {% for post in posts %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" {% if post.image %}src="{{post.image.url}}" {% else %} alt="..." {% endif %}
              height="75" width="75">
            <div class="card-body">
              <h5 class="card-title">{{post.title}} - {{post.date}}</h5>
              <p class="card-text">{{post.content | truncatechars:150}}</p>
              <a href="{% url 'detail' post.id %}" class="btn btn-primary">More</a>
              <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
              <a href="{% url 'update' post.id %}" class="btn btn-info">Update</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="pagination">
      <span class="step-links">
        {% if posts.has_previous %}
        <a href="?page=1{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo; first</a>
        <a
          href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
        <a href=" ?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
        <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">last
          &raquo;</a>
        {% endif %}
      </span>
    </div>

  </div>
  {% endblock %}
</div>